#main_container
  .col-md-2
    = render :partial => 'clients/client_block', :locals => {:client => @client}

  .col-md-8
    %h1="Projects"
    - @projects.each do |p|
      = render :partial => 'projects/project_row', :locals => {:project => p}