#main_container
  .col-md-2
    = render :partial => 'clients/client_block', :locals => {:client => @client}

  .col-md-8
    %h1="Projects"
    - @projects.each do |p|
      = render :partial => 'projects/project_row', :locals => {:project => p}
    
    -# Desactivate because API ERROR
    -#:  <h1>There was a problem processing your request</h1> <p>We have been notified about this, and will get into it as soon as we can.</p> <p>If you want to help, you can report what you were doing when the error popped up.</p>
      = render :partial => 'projects/new', :locals => {:client => @client}