#main_container
  %div{:style => 'margin-top: 50px;'}
  .col-md-4.col-md-offset-4.col-xs-4.col-sm-12.text-center
    %h4.text-center{:style => 'margin-bottom: 40px;'}
      %div="Sandbox using Reedbooth"
      %small="Sergio Canis"
    =link_to("Login with Redbooth Account", '/auth/redbooth', :class => 'btn-lg btn-primary')